html {
  font-size: 10px;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
  margin: 0;
  font-size: 1.6rem;
  text-align: center;
}

#main {
  margin: 30px 8px;
  background-color: #eee;
  padding: 15px;
  border-radius: 5px;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

main {
  display: block;
}

h1 {
  font-size: 4rem;
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 0;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

p {
  display: block;
  font-size: 1.6rem;
  margin-block-start: 1em;
  font-family: 'Noto Sans JP', sans-serif;
}

img {
  display: block;
  position: relative;
  top: 50px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

@media (max-width: 460px) {
  #image {
    font-size: 1.4rem;
  }
}

figcaption {
  color: #808080;
  font-size: 1.8rem;
  font-family: 'Noto Sans JP', sans-serif;
  margin: 70px 0 5px 0;
}

h3 {
  margin: 50px;
  letter-spacing: 2px;
  font-size: 2.5rem;
  font-weight: bolder;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  line-height: 1.6;
  text-align: left;
}

li {
  margin: 15px 0;
}

blockquote {
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
  font-style: italic;
}
